<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of all todo</title>
</head>
<body>
  <h1>Todo List</h1>
  <ul>
    <% todos.forEach((todo) => { %>
      <li style="display: flex; align-items: center;">
        <%= todo.id %>. <%= todo.name %>: <%= todo.workDetails %>

        <!-- Checkbox -->
        <form action="/todo/updateStatus/<%= todo.id %>" method="POST" style="margin-left: 10px;">
          <input type="hidden" name="isDone" value="false"> 
          <input type="checkbox" name="isDone" value="true" <% if (todo.isDone) { %>checked<% } %> 
            onchange="this.form.submit();">
        </form>

        <!-- Delete Button -->
        <form action="/todo/delete/<%= todo.id %>" method="POST">
          <button type="submit" >Delete</button>
        </form>
      </li>
      <hr>
    <% }) %> 
  </ul>
  <a href="http://localhost:3000/todo" style="text-decoration: none;">Add todo</a>
</body>
</html>
